# Targets
*.a
*.so
tests/test_suite
demo/poisson
contrib/googletest
contrib/eigen
contrib/pybind11

# Vim Swap
*.swp

# CMake temp files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Python Cache
__pycache__

